[[extend 'layout.html']]

<style>
[v-cloak] {
    display: none;
}
</style>

<div class="section" id="app" v-cloak>
  <h1 class="title"><i class="fa-solid fa-list"></i> Add Checklist</h1>
  <form action="[[=URL('submit_checklist')]]" method="post">
    <div class="field">
      <label class="label">Species Name</label>
      <div class="control">
        <input class="input" type="text" name="species_name" placeholder="Enter species name" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Latitude</label>
      <div class="control">
        <input class="input" type="text" name="latitude" v-model="latUpdate" placeholder="Enter latitude" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Longitude</label>
      <div class="control">
        <input class="input" type="text" name="longitude" v-model="longUpdate" placeholder="Enter longitude" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Date Observed</label>
      <div class="control">
        <input class="input" type="date" name="observation_date" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Time Observations Started</label>
      <div class="control">
        <input class="input" type="time" name="time_observations_started" required>
      </div>
    </div>

    <div class="field">
        <label class="label">Duration Observed</label>
        <div class="control">
          <input class="input" type="text" name="duration_minutes" placeholder="Enter duration in minutes" required>
        </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button type="button" class="button is-link is-light" onclick="window.history.back()">Cancel</button>
      </div>
    </div>
  </form>
</div>

[[block page_scripts]]
<script>
    // Initialize drawn_coordinates as an empty array if not provided
    let drawn_coordinates = JSON.parse('[[=XML(drawn_coordinates)]]') || [];
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/index_to_checklist.js"></script>
[[end]]
