[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<div class="section" id="app" v-cloak>
  <h1 class="title"><i class="fa-solid fa-cube"></i> Checklist Page</h1>
  <input class="input" type="text" v-model="query" @keyup="search" placeholder="Search species">
  
  <table class="table is-fullwidth">
    <thead>
        <tr>
            <th style="width: 40%;">Species</th>
            <th style="width: 30%;">Number of Sightings</th>
            <th style="width: 30%;">Add Sightings Count</th>
        </tr>
    </thead>
    <tbody>
        <template v-for="(species, index) in search_active ? search : checklist_data" :key="index">
            <tr class="species-row">
                <td style="width: 40%;">{{ species.common_name }}</td>
                <td style="width: 30%;">{{ species.total_sightings }}</td>
                <td style="width: 30%;">
                    <!-- Search Bar -->
                    <div class="field has-addons is-pulled-right">
                        <p class="control" style="margin-right: 5px;">
                            <input type="number" class="input" v-model.number="species.new_sightings" @keyup.enter="handleKeyUp($event, species)">
                        </p>
                        <!-- Increment Button -->
                        <p class="control">
                            <button class="button is-success" @click="incrementSightings(species)">
                                +1
                            </button>
                        </p>
                    </div>
                </td>
            </tr>
        </template>
    </tbody>
  </table>

  <button class="button is-primary" @click="submitChecklist">Submit</button>
</div>

[[block page_scripts]]
<script>
  const checklist_data_url = "[[=URL('checklist_data')]]";
  const my_checklist_url = "[[=URL('my_checklist')]]";
  const update_sightings_url = "[[=URL('update_sightings')]]";
</script>
<script src="js/checklist.js"></script>
[[end]]
