[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<div class="section" id="app" v-cloak>
  <h1 class="title"><i class="fa-solid fa-cube"></i> Checklist Page</h1>
  <input class="input" type="text" v-model="query" @keyup="search" placeholder="Search species">
  
  <table class="table">
    <thead>
      <tr>
        <th>Species Name</th>
        <th>Number Seen</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(species, index) in filteredSpecies" :key="species.COMMON_NAME">
        <td>{{ species.COMMON_NAME }}</td>
        <td>
          <input type="number" v-model.number="species.numSeen">
        </td>
        <td>
          <button @click="increment(index)">+</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <button @click="submitChecklist">Submit</button>
</div>

[[block page_scripts]]
<script>
  const load_species_url = "[[=URL('load_species')]]";
  const submit_checklist_url = "[[=URL('submit_checklist')]]";
</script>
<script src="js/checklist.js"></script>
[[end]]
