[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
  
  .box-container {
    display: inline-block;
    vertical-align: top;
  }

  .box {
    max-width: 100%; /* Allow boxes to shrink to content width */
  }

  @media screen and (max-width: 1000px) {
    .column.is-3 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  </style>
  
  <div class="section" id="app" v-cloak>
    <div class="columns">
      <div class="column is-9">
        <div id="map" style="height: 600px"></div>
      </div>
      <div class="column is-3">
        <div class="box-container">
          <div class="box">
              <label class="label">Map Options</label>
              <div class="field">
                  <p class="description">Double-Click on the Map to select the boundaries of your region.</p>
                  <div class="control mt-3">
                      <button id="create-region" class="button is-success" @click="drawPolygon">Create Region</button>
                  </div>
              </div>
              <div class="field">
                <div class="control">
                    <button id="clear-map" class="button is-primary is-danger" @click="clearPolygon">Clear Map</button>
                </div>
            </div>
          </div>
          <div class="box">
            <label class="label">Map Filters:</label>
            <div class="field">
              <label class="description">Filter by Species</label>
              <div class="control mt-2">
                <div class="select">
                  <select id="species">
                    <!-- Dynamically Add Species here -->
                  </select>
                </div>
              </div>
            </div>
            <div class="buttons">
              <div class="control">
                <!-- Make sure this is disabled until a region is selected on the map -->
                <a href="[[=URL('location')]]" class="button is-primary">Region Information</a>
              </div>
            </div>
          </div>

          <div class="box buttons">
            <label class="label">More Options:</label>
            <div class="control">
              <a href="[[=URL('checklist')]]" class="button is-link">Enter Checklist</a>
              <a href="[[=URL('user_statistics')]]" class="button is-info">My Birding</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
</script>
<script src="js/leaflet-heat.js"></script>
<script src="js/convex-hull.js"></script>
<script src="js/map.js"></script>
[[end]]
