[[extend 'layout.html']]

<style>
[v-cloak] {
    display: none;
}
.chart-container {
    width: 100%;
    height: 500px; /* Adjusted height */
    position: relative;
}
.species-list, .contributors-list {
    max-height: 258px; /* Adjusted max height */
    overflow-y: auto;
}
.species-list li, .contributors-list li {
    cursor: pointer;
    padding: 8px; /* Adjusted padding */
}
.species-list li.is-active {
    background-color: #3273dc;
    color: white;
}
.title {
    font-size: 1.5em; /* Adjusted title size */
}
.subtitle {
    font-size: 1.2em; /* Adjusted subtitle size */
}
.summary-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Added margin bottom for space */
}
.summary-item {
    margin-right: 20px;
    text-align: center;
}
.box {
    margin-bottom: 20px; /* Added margin bottom for space between boxes */
}
</style>

<div class="section" id="app" v-cloak>
    <div class="summary-info">
        <h1 class="title"><i class="fa-solid fa-cube"></i> Region Information</h1>
        <div class="summary-item">
            <h2 class="subtitle"><i class="fas fa-eye"></i> Total Sightings in Region</h2>
            <p class="title">{{ totalSightingsUpdate }}</p>
        </div>
    </div>

    <!-- Species List and Graph -->
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="species-list box">
                <h3 class="subtitle">Species Observed</h3>
                <ul>
                    <li v-for="species in eventsList" :key="species.species" @click="selectSpecies(species.species)" :class="{ 'is-active': selectedSpecies === species.species }">
                        {{ species.species }}
                    </li>
                </ul>
            </div>
            <div class="contributors-list box">
                <h3 class="subtitle">Top Contributors</h3>
                <ul>
                    <li v-for="(observer_id, count) in contributorsList" :key="observer_id">
                        {{ observer_id }} ({{ count }})
                    </li>
                </ul>
            </div>
        </div>
        <div class="column is-three-quarters">
            <!-- Graph container -->
            <div class="box">
                <div class="chart-container">
                    <canvas ref="speciesGraph"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

[[block page_scripts]]
<script>
    let drawn_coordinates = JSON.parse('[[=XML(drawn_coordinates)]]');
    let get_bird_sightings_url = "[[=XML(get_bird_sightings_url)]]";
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/location.js"></script>
[[end]]
